/* styles.css */
.admin-dashboard {
    padding: 20px;
    color: #e8d2e9;
    background-color: #850f8d;
  }
  
  .basic-org-data, .active-elections, .archive-elections, .candidate-detail {
    margin-bottom: 20px;
    padding: 24px;
    border-radius: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
  }
  
  button {
    background-color: #AF47D2;
    color: #F9FBFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #E49BFF;
  }
  