/* Ensure your custom CSS is imported */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --primary: rgb(147, 187, 251);       /* #93BBFB */
  --secondary: rgb(218, 232, 255);     /* #DAE8FF */
  --base-100: rgb(255, 255, 255);      /* #ffffff */
  --base-200: rgb(244, 248, 255);      /* #f4f8ff */
  --base-300: rgb(218, 232, 255); 
}

/* Dark theme */
[data-theme='dark'] {
  --primary-dark: rgb(33, 38, 56);       /* #212638 */
  --secondary-dark: rgb(50, 63, 97);     /* #323f61 */
  --base-100-dark: rgb(56, 81, 131);     /* #385183 */
  --base-200-dark: rgb(42, 54, 85);      /* #2A3655 */
  --base-300-dark: rgb(33, 38, 56);
}


body {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: var(--color-base-200);
  color: var(--color-primary);
}

h1,
h2{
  font-family: "Vollkorn", serif;
  font-size: 28px;
}
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}
.addressText{
  justify-content: center;
  text-justify: auto;
  align-items: center;
  align-content: flex-start;
  margin-left: 33px;

}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}
.btn-danger{
  background-color: red;
}

.button-group {
  display:flex;
  flex-direction: row;
  gap: 8px;
  align-items:center;
  justify-content: center;
}

.home-button-group {
  display:flex;
  flex-direction: row;
  gap: 8px;
  align-items:center;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.title-md{
  align-items: center;
  text-align: center;
  justify-content: center;
}

.vertical-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 6px;
  margin-top: 4px;
  height: 100%;
}

.vertical-center > * {
  margin: 0px; 
}

.vertical-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.vertical-left .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem; /* Adjusted margin */
}

.vertical-left .row div {
  flex: 1;
}

.vertical-left .row div:first-child {
  font-weight: bold;
}

.row-margin{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.container {
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-top: 10px;
}

.container-sm{
  margin-left: 48px;
  position:absolute;
}

.form-container{
  padding: 3rem;
  justify-content: center;
}

.col-md-6 {
  margin-bottom: 20px; /* Add some bottom margin for better separation between columns */
  margin-left: 28vh;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  border-radius: 12px 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

form input {
  width: 100%;
  margin-top: 14px;
  padding: 8px 15px;
  box-sizing: border-box;
  border-radius: 20px 20px;
}

.main-container {
  max-width: 100%;
  display: flex;
  margin-top: -3rem;
  margin-left: 24px;
  flex-direction: row;
  padding: 5rem;
  justify-content: center;
}

.centered-control {
  justify-content: center;
  align-items: center; /* Center vertically */
}

.sticky-card {
  position: sticky;
  top: 1rem;
  max-width: 300px;
  width: 2rem;
  margin-left: -3rem;
  align-items: center;
  justify-content: center;
}

.show-token-info-btn-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.show-token-info-btn {
  font-size: 1.5rem;
  color: #000;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}


.button-container{
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  top: 0px;
  margin-top: -3rem;
  margin-bottom: -2rem;
  padding: 24px;
}

.sticky-card {
  position: sticky;
  top: 1rem;
  left: -32px;
  width: 22rem;
  z-index: 2;
  margin-top: 2px;
  padding: 2rem;
}

.token-control-container {
  position: relative;
  flex-grow: 1;
  margin-top: -1.5rem; 
  padding: 2.5rem 2rem;
  margin-left: 2; 
  align-items: flex-start;
}

@media (max-width: 768px) {
  .token-control-container {
    padding: 2.5rem 6rem; 
    margin-left: -4.5rem;
  }
}

.Basic-Data-ORG {
  padding: 2rem 2rem;
  margin: 0 auto; /* Center on all screen sizes */
  flex-grow: 1;
  align-items: flex-start;
}


@media (max-width: 1080px) {
  .Basic-Data-ORG {
      padding: 1rem;
      width: 100%; /* Ensure it spans full width on mobile */
  };
  .ElectionManage {
    padding: 1rem;
    width: 100%; /* Ensure it spans full width on mobile */
  }
}